@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>

<div class="row">
    <div class="col-md-6">
            <h3>Introduction</h3>
        <p>
            Live audio streaming over the internet is now common-place.<br /><br />
            Whether you're a single Dj mixing at home or working in a club, streaming your set has never been easier.<br /><br />
            Maybe you're part of a crew of Dj's who want to run an online radio station or perhaps you run a club with multiple rooms who wants people to hear just what they are missing<br /><br />
            With <span>smile</span> streaming club all of this is within your reach.
        </p>
    </div>
    <div class="col-md-6">
    
    </div>
<div>
<div class="row">
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
        <h3>The Setup</h3>
        <p>
            The web page hosting the streaming element can be hosted by us on our server (for free and fully customisable) or it can be integrated into your existing website (its just an .html page with some script that we provide).<br /><br />
            And if you're just starting out, you can subscribe to our Basic (free) subscription which is a little limited but perfect for those without professional needs.<br /><br />
            When you need more streming hours/month and higher listener limits you can upgrade to the Professional Subscription.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Streaming Devices</h3>

        <p>
            The streaminng devices that we can provide are not much bigger than a packet of cigaretes - making them easy to carry around (maybe you Dj in more than one club and want to take the device with you to each and stream all of your sets?)<br /><br />
            Also, their compact size means that they don't take up much room and won't compete with your equipment for space!
        </p>
    </div>
    <div class="col-md-6">
    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
        <h3>PC/Laptop Based Streaming</h3>

        <p>
            If your budget doesn't stretch to a streaming device and you already have a PC or Laptop, our software is compatable with Windows and Debian Linux and you can connect you computer to your equipment and stream from there.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Stream Organisational Structure</h3>

        <p>
            We can accomodate various organisational structres, from "one to many" for individuals or "many to may" for groups.  You may need a producer for more complex setups to coordinate the streaming between the various parties.
        </p>
    </div>
    <div class="col-md-6">
    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
        <h3>We Are A Social Enterprise</h3>

        <p>
            As an organisation, we are what is known as a "Social Enterprise" which basically means that we will give 51% of our profits to various charities and charitable organisations - we are legally obliged to do this if we want to label outselves a "Social Enterprise".<br /><br />
            The details of the organisations we are donating to can be found on the page "Social Enterprise" from the main menu above.
        </p>
    </div>
</div>
